# MacOS sistem dosyaları
.DS_Store

# Derleme dosyaları
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake-build-debug
# Visual Studio Artıkları (Silindiyse yine de ekleyelim)
*.sln
Debug/
Release/
.idea/
